@keyframes changeanime {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(15deg);
  }

  25% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate (0deg);
  }
}


body {
  font-family: Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

.todo-app {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #333;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 8px 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  color: rgb(145, 22, 198);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;

}

li:last-child {
  border-bottom: none;
}

.delete-button {
  color: rgb(145, 22, 198);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.delete-button:hover {
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  animation: changeanime 0.3s ease-in-out 0s 1 alternate-reverse;
}

@media screen and (max-width: 600px) {
  .todo-app {
    max-width: 80%;
  }

  
}
